body {
  margin: 0;
  padding: 0;
background-color: #b9f2ff;
font-size: 20px;

}

.app {
  text-align: center;
}

button {
margin-top:4px;
border-style: ridge;
border-width: 5px;
border-color: white;
background-color: pink;
}

button.correct-answer{
background-color: green;
}